* {
    padding: 0;
    margin: 0;
}

.grid-loja {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 16px;
}

.container-imagens {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}
