@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #898989;
    font-family: 'Oswald', sans-serif;
}

.logo h1 {
    font-size: 2rem;
    margin: 0;
    color: #fff;
}

.header-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    font-size: 20px;
    color: #fff;
}  