* {
    margin: 0;
    padding: 0;
}

.container-pesquisa {
    display: flex;
    justify-content: center;
}

.container-pesquisa input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
}